<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.java.freeboard.enter.mapper.GroupfreeEnterBoardMapper">
	<resultMap type="com.java.freeboard.dto.GroupEnterFreeBoardDto" id="GroupEnterFreeBoardDto">
		<result column="board_number" property="board_number"/>
		<result column="writer" property="writer"/>
		<result column="contents" property="contents"/>
		<result column="read_count" property="read_count"/>
		<result column="write_date" property="write_date"/>
		<result column="group_number" property="group_number"/>		
		<result column="sequence_number" property="sequence_number"/>
		<result column="sequence_level" property="sequence_level"/>
		<result column="subject" property="subject"/>
		
	</resultMap>
	
	<select id="freeboardList" parameterType="java.util.HashMap" resultType="com.java.freeboard.dto.GroupEnterFreeBoardDto">
		<![CDATA[
			SELECT * FROM
				(SELECT rownum as rnum, a.* FROM
					(SELECT * FROM freeboard 
						ORDER BY group_number DESC, sequence_number ASC) a)b 
			WHERE b.rnum >= #{startRow} AND b.rnum <= #{endRow}
		]]>
	</select>
	
	<insert id="freeboardInsert" parameterType="com.java.freeboard.dto.GroupEnterFreeBoardDto">
		insert into freeboard (
			board_number, writer, contents, read_count, write_date,
			group_number, sequence_number, sequence_level, subject) 
		values(freeboard_seq.nextval,  
			#{writer}, #{contents}, 0, sysdate,
			#{group_number}, #{sequence_number}, #{sequence_level}, #{subject})
	</insert>
	
	
	<select id="freeboardCount" resultType="int">
		select count(*) from freeboard
	</select>
	
	<update id="freeboardReadCount" parameterType="int">
		update freeboard set read_count = read_count+1 where board_number = #{board_number}
	</update>
	
	<select id="freeBoardRead" parameterType="int" resultType="com.java.freeboard.dto.GroupEnterFreeBoardDto">
		select * from freeboard where board_number = #{board_number}
	</select>
	 
	<select id="freeboardsearch"  parameterType="java.util.HashMap" resultType="com.java.freeboard.dto.GroupEnterFreeBoardDto">
		SELECT * from freeboard where ${partnum} like '%' ||  #{contextSearch} || '%'    
	</select>
	
	<delete id="freedelete" parameterType="String">
		delete from freeboard where board_number = #{board_number}
	</delete>
	<update id="freeupdate" parameterType="com.java.freeboard.dto.GroupEnterFreeBoardDto">
		update freeboard set contents =#{contents}  where board_number = #{board_number} 
	</update>
	<select id ="upsel" parameterType="String" resultType="com.java.freeboard.dto.GroupEnterFreeBoardDto">
		select * from freeboard where board_number = #{board_number}	
	</select>
	<!-- 
	<select id="boardDetail" parameterType="String" resultType="GroupEnterBoardDto">
		SELECT * FROM tblBoard WHERE b_num = #{b_num}
	</select>
	
	<select id="boardSearch" parameterType="SearchDTO" resultType="GroupEnterBoardDto">
		SELECT * FROM tblBoard WHERE UPPER(${part}) LIKE UPPER(#{searchData})
	</select>-->
</mapper>