<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.java.trig.mapper.TrigMapper">
	<resultMap type="com.java.trigDto.TrigDto" id="TrigDto">
		<result column="id" property="id"/>
		<result column="board_number" property="board_number"/>
		<result column="isOk" property="isOk"/>
		<result column="masterid" property="masterid"/>
		<result column="subject" property="subject"/>
		
	</resultMap>
	
	<select id="isNew" parameterType="String" resultType="com.java.trigDto.TrigDto">
		select * from trig where masterid=#{id}
	</select>
	
	<update id="changeOk" parameterType="java.util.HashMap">
		UPDATE trig SET isOk = 1 WHERE id=#{id} and board_number=#{board_number}
	</update>
	
	<update id="updateMasterID" parameterType="java.util.HashMap">
		update trig set masterid = #{masterID} where id=#{id} and board_number=#{board_number}
	</update> 
	
	<delete id="changeDel">
		delete from trig where isOk = 1
	</delete>
	
	<update id="inSub" parameterType="java.util.HashMap">
		update trig set subject = #{sub} where board_number=#{board_number}
	</update>
	
	<select id="myEnterList" parameterType="String" resultType="com.java.trigDto.TrigDto">
		select * from trig where id=#{id}	
	</select>
</mapper>